header {
  display: flex;
  justify-content: center;
  align-items: center;
}
nav a {
  text-decoration: none;
}
nav a img {
  width: 50px;
  height: 50px;
  margin: 20px;
}
nav a :hover {
  box-shadow: 0px 0px 10px 3px rgba(44, 0, 146, 0.3);
  border-radius: 50%;
  cursor: pointer;
}
